<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title|default='Title'}</title>
    <!--引入本地-->
    <script src="static/layui/layui.js"></script>
    <link rel="stylesheet" href="static/layui/css/layui.css">
    <!--引入线上-->
    <!--<link rel="stylesheet" href="//unpkg.com/layui@2.6.5/dist/css/layui.css">-->
    <!--<script src="//unpkg.com/layui@2.6.5/dist/layui.js"></script>-->
</head>
<body>
<button type="button" class="layui-btn layui-bg-red">1</button>
<a href="{:url('Lottery/index')}" class="layui-btn">随机生成彩票号码</a>
<a href="{:url('Network/index')}" class="layui-btn">互联网生成</a>
<div class="layui-row layui-col-space10">
    <div class="layui-col-md4">
        1/3
    </div>
    <div class="layui-col-md4">
        1/3
    </div>
    <div class="layui-col-md4">
        1/3
    </div>
</div>
</body>
</html>