{include file="public/header_form"}
{block name='style'}
<style>
    .layui-input {
        width: 240px;
    }
</style>
{/block}
<div>
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">输入框</label>
            <div class="layui-input-block">
                <input type="text" name="admin_name" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码框</label>
            <div class="layui-input-inline">
                <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">辅助文字</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            if(JSON.stringify(data.field.admin_name)==''){
                layer.msg('账号不能为空');
                return false;
            }
            if(JSON.stringify(data.field.password)==''){
                layer.msg('密码不能为空');
                return false;
            }
            // layer.msg(JSON.stringify(data.field.admin_name));
            // return false;
        });
    });
</script>