{include file="public/header_form"}
<form class="layui-form" action="{:request()->url()}" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">单选框{$type|default=11}</label>
        <div class="layui-input-block">
            <input type="radio" name="type" value="f" title="双色球" {if $type=="f"} checked {/if} >
            <input type="radio" name="type" value="t" title="大乐透" {if $type=="t"} checked {/if} >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">请输入起始期号</label>
        <div class="layui-input-block">
            <input type="text" name="day_code" required  lay-verify="required" placeholder="请输入起始期号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-mid layui-word-aux">辅助文字</div>
    <div class="layui-form-item">
        <label class="layui-form-label">请输入结束期号</label>
        <div class="layui-input-block">
            <input type="text" name="day_code" required  lay-verify="required" placeholder="请输入结束期号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-mid layui-word-aux">辅助文字</div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>