{include file="public/header"}
<table class="layui-table" lay-data="{ url:'/Network/newest_data.html?id={$type|default=0}', page:true, id:'test2', skin: 'row', even: true, parseData: function(res){ //res 即为原始返回的数据
                var res=$.parseJSON(res);
                <!--console.log(res.data);-->
                return {
                    'code':0, //解析接口状态
                    'msg':'', //解析提示文本
                    'count': 200, //解析数据长度
                    'data': res.data//解析数据列表
                };
}}">
    <thead>
    <tr>
        <th lay-data="{ width:80, sort: true,templet: '#xuhao'}">序号</th>
        <th lay-data="{field:'day_code', width:150, templet: '#usernameTpl'}">期号</th>
        <th lay-data="{field:'red1', width:120,style:'background-color: #FA8072; ',}">1</th>
        <th lay-data="{field:'red2', width:120,style:'background-color: #FA8072; ',}">2</th>
        <th lay-data="{field:'red3', width:120,style:'background-color: #FA8072; ',}">3</th>
        <th lay-data="{field:'red4', width:120,style:'background-color: #FA8072; ',}">4</th>
        <th lay-data="{field:'red5', width:120,style:'background-color: #FA8072; ',}">5</th>
        {if $type === 'f'}
        <th lay-data="{field:'red6', width:120,style:'background-color: #FA8072; ',}">6</th>
        <th lay-data="{field:'blue', width:120,style:'background-color: #40E0D0; ',}">7</th>
        {elseif $type === 't'}
        <th lay-data="{field:'blue1', width:120,style:'background-color: #40E0D0; ',}">6</th>
        <th lay-data="{field:'blue2', width:120,style:'background-color: #40E0D0; ',}">7</th>
        {/if}

        <th lay-data="{field:'type', width:80，templet: '#isType'}">类型</th>
        <th lay-data="{field:'update_time'}">创建时间</th>
        <th lay-data="{field:'is_deleted', width:80, sort: true, style:'background-color: #eee;',templet: '#is_deleted'}">状态</th>
        <!--<th lay-data="{field:'score', width:80, sort: true}">操作</th>-->
    </tr>
    </thead>
</table>

<script type="text/html" id="usernameTpl">
    <a href="/?table-demo-id={{d.id}}" class="layui-table-link" target="_blank">{{ d.day_code }}</a>
</script>

<script type="text/html" id="is_deleted">
    {{#  if(d.is_deleted === 0){ }}
    <span style="color: #009688;">正常</span>
    {{#  } else { }}
    <span style="color: #F581B1;">异常</span>
    {{#  } }}
</script>

<script type="text/html" id="isType">
    {{#  if(d.is_deleted === 0){ }}
    <span style="color: #009688;">正常</span>
    {{#  } else { }}
    <span style="color: #F581B1;">异常</span>
    {{#  } }}
</script>

<script type="text/html" id="xuhao">
    {{d.LAY_TABLE_INDEX+1}}
</script>

<script type="text/html" id="barDemo1">
    <a class="layui-btn layui-btn-xs" lay-event="edit">工具性按钮</a>
</script>